---
name: common test

"on":
  push:
    branches:
      - main
    paths-ignore:
      - README*
      - LICENSE
      - '**.md'
      - '**.adoc'
  pull_request:
    paths-ignore:
      - README*
      - LICENSE
      - '**.md'
      - '**.adoc'

jobs:
  yamllint:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - uses: ibiqlik/action-yamllint@v3
        with:
          config_file: .yamllint.yml
